html{
    font-family: Arial, Georgia, Helvetica;/* задаю всем элементам на странице */
    font-size: 10px;
    color: black;
    background: white;
    width: 100%;
}
header, footer{
    height: 100%;
    display: flex;
    border: 2px solid black;
    color: black;
    padding: 0px 0px 0px 30px; 
}
header{/* параметры для шапки*/
    
    background: white;
    margin-bottom: 3px;
}
footer{ /*параметры для подвала*/
    margin-top: 3px;
}
img{
    width: 100%;
    display:flex;
}
h1{
    width: 80%;
}
/* ------------------------------------------ */
nav{
    padding: 2%
}
a {
  text-decoration: none;
}
ul {
    background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    
}
li {
    color: #fff;
    background: black;
    display: block;
    float: left;
    padding: 10px 40px 10px 40px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
     border: 3px double white;
}
  
li a {
  color: #fff;
}

li:hover {
    background: grey;
    cursor: pointer;
}
ul li ul {
    background: black;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 10px 40px 10px 40px;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}

/* --------------------------------------------------------- */

#button_mys{/* стиль для кнопки о себе*/
    display: block;
    color: black;
    width: 100%;
    height: 40%;
    border: 3px double black;
    background: white;
    box-shadow: 5px white inset;
    margin: 41%;
}
#div_cont{/* контейнер с главным фото и блоками*/
    display:flex;
    height: inherit;
    border: 4px solid white;
    
    background-color: white;
    color: white;
    font-size: 20px;
}
#div_cont>div:nth-child(1){/* блок с картинкой*/
    width: 50%;
    margin-right: 5px;
}
#div_cont div:nth-child(2){/* черный блок*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    border: 3px double white;
    background-color: black;
    margin-left: 5px;
}
#div_cont div:nth-child(3){/* блок с инфо*/
    display: none;
    width: 50%;
    padding: 10px;
    background-color: white;
    border: 3px double black;
    color: black;
    margin-left: 5px;
    hyphens: auto;
}


