#sircl_body{
    width: 130px;
    height: 300px;
    background: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
}
#red_sir{
    width: 80px;
    height: 80px;
    position: absolute;
    background: red;
    border: 2px solid black;
    border-radius: 40px;
    left: 35px;
    top: 25px;
}
#yellow_sir{
    width: 80px;
    height: 80px;
    background: yellow;
    border: 2px solid black;
    border-radius: 40px;
    position: absolute;
    left: 35px;
    top: 120px;
}

#green_sir{
    width: 80px;
    height: 80px;
    background: lightgreen;
    border: 2px solid black;
    border-radius: 40px;
    position: absolute;
    left: 35px;
    top: 215px;
}





