
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
body {
    font-family: 'Open Sans', sans-serif;
}

#slider{
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 620px;
    margin: 20px auto;
    padding: 0;
}

#gallery {
    margin-bottom: 60px;
}
#gallery:after { 
   content: '';
   display: block; 
   height: 0; 
   clear: both;
}
#pic_forma p{
    display:inline-block;
    margin-right: 12.5%;
}
#pic_forma>input:nth-child(4){
    color: #fff;
    background: black;
    padding: 5px 40px 5px 40px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border: 3px double white;
}
#download_form>input:nth-child(2){
    color: #fff;
    background: black;
    padding: 5px 40px 5px 40px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border: 3px double white;
}